$boxShadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
$boxShadowLight: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);

.nav-mobile-feed {
	img {
		width: 2.2rem;
		height: 2.2rem;
		object-fit: cover;
		border-radius: 100%;
		margin: 0.4rem 0.1rem 0 0;
	}

	h1 {
		margin: 0;
	}
}

.panels-container {
	padding: 0;
	width: 100%;
}

.posts-container {
	padding: 4.5rem 1.2rem 3.5rem;

	.post {
		.post-author-image {
			width: 2.4rem;
			height: 2.4rem;
			object-fit: cover;
			border-radius: 100%;
		}

		.author-info {
			display: flex;
			justify-content: start;
			align-items: center;

			.author,
			.post-date {
				margin: 0;
			}

			.author {
				font-weight: 800;
			}

			.post-date {
				font-size: 0.8em;
				color: #848484;
			}

			span {
				margin: 0 0 0.3rem 0.8rem;
			}
		}

		.post-content {
			margin: 0.4rem 0 0.7rem;
		}

		.likes {
			img,
			svg {
				width: 1.5rem;
				margin-right: 0.5rem;
			}

			p {
				margin: 0 0 0.2rem;
				font-size: 0.9em;
				color: #f54291;
			}

			display: flex;
			align-items: center;
		}

		&:last-child {
			border: none;
		}

		border-bottom: 1px solid #d5d5d5;
		padding: 1.1rem 0;
	}
}

@media only screen and (min-width: 600px) {
	.posts-container {
		padding: 3rem 0;

		.post:first-child {
			padding-top: 0;
		}

		.post {
			width: 75%;
			margin: 0 auto;
			padding: 1.5rem 0;

			.author {
				font-size: 1.1em;
			}

			.post-date {
				margin-top: 0.3rem !important;
			}

			.post-content {
				margin-top: 0.5rem !important;
				font-size: 1.1em;
			}

			.likes p {
				font-size: 1em;
			}
		}
	}
}
