.login-container {
	text-align: center;
}

.login-logo {
	margin-top: 6.7rem;

	p {
		color: #a0a0a0;
		font-size: 0.8em;
	}

	img {
		width: 15rem;
	}
}

.login-inputs-container {
	margin: 6.5rem 0 7.8rem;

	div {
		padding: 0 0.2rem;
		width: 13rem;
		margin: 2rem auto;
		border-bottom: 3px solid #40c8b7;

		display: flex;
		align-items: center;
		justify-content: space-between;

		input {
			border: none;
			font-size: 1.1em;
			width: 80%;
			margin-bottom: 0.2rem;
		}
	}
}

.username-input-container img {
	width: 1.3rem;
	margin-left: 0.1rem;
}

.password-input-container img {
	width: 1.6rem;
}

.login-form {
	button {
		background: #f54291;
		color: white;
		border: none;
		border-radius: 0.5rem;
		padding: 0.6rem 0;
		font-size: 1.15em;
		font-weight: 600;
		width: 10rem;
	}
}

.login-second-option {
	margin-top: 1.8rem;
	font-size: 0.9em;
	display: block;
	color: #2a2a2a;
}

@media only screen and (min-width: 600px) {
	.login-container {
		margin: 7rem auto 0;
		width: 35rem;
		height: 26rem;
		padding: 3rem 0;
	}

	.login-logo {
		margin-top: 0;

		img {
			width: 11rem;
		}
	}

	.login-inputs-container {
		margin-top: 3.2rem;
		margin-bottom: 3.8rem;

		div {
			width: 11rem;

			input {
				font-size: 0.9em;
				background: none;
				width: 83%;
			}
		}
	}

	.username-input-container img {
		width: 1rem;
	}

	.password-input-container img {
		width: 1.15rem;
	}

	.login-form button {
		font-size: 0.9em;
		padding: 0.5rem 0;
	}

	.login-second-option {
		margin-top: 1.5rem;
		font-size: 0.85em;
	}
}
