$boxShadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
$boxShadowLight: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);

.navbar {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.3rem;
	}

	.nav-home img {
		width: 1.8rem;
	}

	.nav-new-post img {
		width: 1.5rem;
	}

	.nav-add-friend img {
		width: 2.2rem;
	}

	.nav-chat img {
		width: 1.5rem;
	}

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	box-shadow: $boxShadow;
	padding: 0.6rem 2.3rem;
}

@media only screen and (min-width: 600px) {
	.hide-mobile {
		display: inline-block;
	}

	body {
		background-color: #f6f6f6;
	}

	.navbar {
		z-index: 10;
		top: 0;
		bottom: auto;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 4rem;
		height: 3.5rem;
		box-shadow: $boxShadowLight;
		border-bottom: #40c8b7 2px solid;

		.logo img {
			width: 6rem;
		}

		.nav-avatar img {
			width: 2.3rem;
			height: 2.3rem;
			object-fit: cover;
			border-radius: 100%;
			margin-left: 2rem;
		}

		li {
			margin: 0 2rem;

			a {
				display: flex;
				align-items: center;
			}

			p {
				font-weight: 800;
				font-size: 0.85em;
				margin-left: 0.6rem;
			}
		}

		li:nth-child(3) p {
			margin-left: 0.4rem;
		}

		.nav-home img {
			width: 1.2rem;
			margin-bottom: 0.2rem;
		}

		.nav-new-post img {
			width: 1rem;
		}

		.nav-add-friend img {
			width: 1.4rem;
			margin-bottom: 0.1rem;
		}
	}
}
