body {
	font-family: "Century Gothic", Sans-Serif;
	margin: 0;
	padding: 0;
}

/* LOADING ANIMATION */
.loading {
	text-align: center;
	margin: 19rem auto 0;
	display: block;
	width: 5rem;

	-webkit-animation: spin 1.5s linear infinite;
	-moz-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.loading-search {
	width: 3rem;
	margin-top: 3rem;
}

@media only screen and (min-width: 600px) {
	.loading {
		margin: 14rem auto 0;
		width: 9rem;
	}

	.loading-search {
		width: 4rem;
		margin-top: 3rem;
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

input {
	font-family: "Century Gothic", Sans-Serif;
}

button,
a {
	cursor: pointer;
}

.push-effect:active {
	position: relative;
	top: 3px;
}

*:focus {
	outline: none;
}

.hide-mobile {
	display: none;
}

.nav-mobile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.3rem 0.9rem;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: -1px;
	height: 3rem;
}

.navbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	padding: 0.6rem 2.3rem;
	z-index: 20;
}

.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 0.3rem;
}

.navbar .nav-home img {
	width: 1.8rem;
}

.navbar .nav-new-post img {
	width: 1.5rem;
}

.navbar .nav-add-friend img {
	width: 2.2rem;
}

.navbar .nav-chat img {
	width: 1.5rem;
}

@media only screen and (min-width: 600px) {
	.hide-mobile {
		display: inline-block;
	}
	body {
		background-color: #f6f6f6;
	}
	::-webkit-scrollbar {
		width: 0.4rem;
	}

	::-webkit-scrollbar-thumb {
		background: #c2c2c2;
		border-radius: 10rem;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #b1b1b1;
	}
	.navbar {
		z-index: 20;
		top: 0;
		bottom: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 4rem;
		height: 3.5rem;
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		border-bottom: #40c8b7 2px solid;
	}
	.navbar .logo img {
		width: 6rem;
	}
	.navbar .nav-avatar img {
		width: 2.3rem;
		height: 2.3rem;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 100%;
		margin-left: 2rem;
	}
	.navbar li {
		margin: 0 2rem;
	}
	.navbar a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-decoration: none;
		color: black;
	}
	.navbar li p {
		font-weight: 800;
		font-size: 0.85em;
		margin-left: 0.6rem;
		text-decoration: none;
	}
	.navbar li:nth-child(3) p {
		margin-left: 0.4rem;
	}
	.navbar .nav-home img {
		width: 1.2rem;
		margin-bottom: 0.2rem;
	}
	.navbar .nav-new-post img {
		width: 1rem;
	}
	.navbar .nav-add-friend img {
		width: 1.4rem;
		margin-bottom: 0.1rem;
	}
}

.nav-mobile-friends::after {
	content: "";
	width: 1.75rem;
}

.friends-container {
	padding: 3.8rem 1.2rem 3.5rem;
	position: fixed;
	overflow: auto;
	z-index: 9;
	background: white;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.friends-container ul {
	padding: 0;
}

.friend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 2.2rem 0;
}

.friend img {
	width: 4rem;
	height: 4rem;
	-o-object-fit: cover;
	object-fit: cover;
	margin-right: 1rem;
	border-radius: 100%;
}

.friend-name {
	margin: 0;
	font-size: 1.4em;
	font-weight: 800;
	margin-bottom: 0.3rem;
}

.last-message {
	margin: 0;
	color: #848484;
}

@media only screen and (min-width: 600px) {
	.friends-container {
		position: static;
		padding: 0;
		-ms-flex-preferred-size: 28%;
		flex-basis: 28%;
		height: 32rem;
		z-index: 1;
	}
	.friends-container ::-webkit-scrollbar,
	.chat-box-container ::-webkit-scrollbar {
		width: 0.4rem;
	}
	.friends-container ::-webkit-scrollbar-thumb,
	.chat-box-container ::-webkit-scrollbar-thumb {
		background: #e0e0e0;
		border-radius: 10rem;
	}
	.friends-container ul {
		overflow-y: auto;
		height: 23.5rem;
		margin-top: 1.4rem;
		padding: 0 1.7rem 1rem;
	}
	.friends-container ul li:first-child {
		margin-top: 0;
	}
	.friends-container ul li:last-child {
		margin-bottom: 0;
	}
	.friends-title {
		border-bottom: 1px solid #d5d5d5;
		width: 100%;
	}
	.friends-title h1 {
		font-size: 1.4em;
		padding: 0.4rem 1.7rem;
	}
	.friend {
		cursor: pointer;
		margin: 1.6rem 0;
	}
	.friend img {
		width: 3rem;
		height: 3rem;
	}
	.friend-name {
		font-size: 1em;
		margin-bottom: 0.1rem;
	}
	.last-message {
		font-size: 0.9em;
	}
}

.nav-mobile-feed img {
	width: 2.2rem;
	height: 2.2rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
	margin: 0.4rem 0.1rem 0 0;
}

.nav-mobile-feed h1 {
	margin: 0;
}

.panels-container {
	padding: 0;
	width: 100%;
}

.posts-container {
	height: 100vh;
	overflow: auto;
	padding: 4.5rem 1.2rem 3.5rem;
	box-sizing: border-box;
}

.posts-container .post {
	border-bottom: 1px solid #d5d5d5;
	padding: 1.1rem 0;
}

.post a {
	color: black;
	text-decoration: none;
	width: fit-content;
}

.posts-container .post .post-author-image {
	width: 2.4rem;
	height: 2.4rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
}

.posts-container .post .author-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: fit-content;
}

.posts-container .post .author-info .author,
.posts-container .post .author-info .post-date {
	margin: 0;
}

.posts-container .post .author-info .author {
	font-weight: 800;
}

.posts-container .post .author-info .post-date {
	font-size: 0.8em;
	color: #848484;
}

.posts-container .post .author-info span {
	margin: 0 0 0.3rem 0.8rem;
}

.posts-container .post .post-content {
	margin: 0.4rem 0 0.7rem;
}

.posts-container .post .likes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	width: fit-content;
}

.posts-container .post .likes img,
.posts-container .post .likes svg {
	width: 1.5rem;
	margin-right: 0.5rem;
}

.posts-container .post .likes p {
	margin: 0;
	font-size: 0.9em;
	color: #f54291;
}

.posts-container .post:last-child {
	border: none;
}

@media only screen and (min-width: 600px) {
	.posts-container {
		padding: 3rem 0;
		overflow: visible;
		height: auto;
	}
	.posts-container .post:first-child {
		padding-top: 0;
	}
	.posts-container .post {
		width: 75%;
		margin: 0 auto;
		padding: 1.5rem 0;
	}
	.posts-container .post .author {
		font-size: 1.1em;
	}
	.posts-container .post .post-date {
		margin-top: 0.3rem !important;
	}
	.posts-container .post .post-content {
		margin-top: 0.5rem !important;
		font-size: 1.1em;
	}
	.posts-container .post .likes p {
		font-size: 1em;
	}
}

.profile-container {
	height: 100vh;
	overflow: auto;
	box-sizing: border-box;
}

.nav-mobile-profile {
	text-align: center;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.08);
	padding-bottom: 3.5rem;
}

.profile-background {
	width: 100%;
	height: 9rem;
	margin: 0;
	overflow: hidden;
	background-image: url(https://source.unsplash.com/photos/random);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.blur {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	height: 100%;
	width: 100%;
}

.profile-posts {
	padding-top: 1rem;
	height: auto;
	overflow: visible;
}

.profile-avatar {
	width: 7rem;
	height: 7rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
	margin: -3.7rem auto 1rem;
	border: 6px solid white;
	z-index: 5;
	position: relative;
	background: white;
}

.profile-name-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1.8rem;
}

.profile-name-container::before {
	content: "";
	width: 2rem;
}

.logout {
	position: relative;
	background: none;
	display: inline-block;
	border: none;
	border-radius: 100%;
	width: 2rem;
}

.tooltip-text {
	visibility: hidden;
	width: 3rem;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 0.3rem;
	text-align: center;
	padding: 0.3rem;

	opacity: 0;
	transition: opacity 0.8s;

	position: absolute;
	z-index: 7;
	bottom: 2px;
	left: 120%;
}

.unfriend .tooltip-text {
	left: 160%;
	width: 4rem;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.tooltip-text::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}

.logout img {
	width: 1.4rem;
}

.unfriend img {
	width: 2rem;
}

.profile-name {
	margin: 0 1rem;
	font-size: 1.7em;
}

.profile-action {
	border: none;
	background: #dbdbdb;
	margin: 0 auto;
	padding: 0.45rem 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 0.5rem;
}

.profile-action img {
	margin-right: 0.5rem;
}

.profile-action p {
	color: white;
	font-size: 1.2em;
	margin: 0;
	margin-top: 0.1rem;
	font-weight: 600;
}

.profile-new-post {
	background: #f54291;
}

.profile-add-friend {
	background: #0a97b0;
}

.profile-add-friend img {
	width: 1.8rem;
}

.profile-send-message {
	background: #40c8b7;
}

.profile-send-message img {
	width: 1.2rem;
}

.profile-request-pending {
	background: none;
	border: 2px solid #0a97b0;
	cursor: auto;
}

.profile-request-pending p {
	color: #0a97b0;
}

.profile-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 0rem;
}

.profile-stats div {
	-ms-flex-preferred-size: 36%;
	flex-basis: 36%;
}

.count {
	font-size: 2.9em;
	font-weight: 600;
	margin: 0;
}

.label {
	font-size: 1.2em;
	color: #848484;
	margin: -0.2rem 0 0;
}

@media only screen and (min-width: 600px) {
	.profile-container {
		overflow: visible;
		height: auto;
	}
	.nav-mobile-profile {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 1.2rem 1.2rem 0 0;
		border-bottom: 1px solid #c1c1c1;
		padding-bottom: 3rem;
	}
	.profile-background {
		width: 100%;
		height: 9rem;
		margin: 0;
		border-radius: 1.2rem 1.2rem 0 0;
		overflow: hidden;
		background-image: url(https://source.unsplash.com/collection/8994315/);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.blur {
		-webkit-backdrop-filter: blur(8px);
		backdrop-filter: blur(8px);
		height: 100%;
		width: 100%;
	}
	.profile-avatar {
		margin-top: -4.3rem;
		height: 8rem;
		width: 8rem;
		border: 7px white solid;
		position: relative;
		z-index: 5;
		cursor: pointer;
	}
	.profile-name-container {
		margin-bottom: 1.9rem;
	}
	.profile-name {
		margin: 0 1rem;
		font-size: 1.6em;
	}
	.logout {
		margin-top: 0.2rem;
	}
	.profile-action img {
		width: 1.1em;
	}
	.profile-action p {
		font-size: 1em;
	}
	.profile-stats {
		margin-top: 1.8rem;
	}
	.profile-stats div {
		-ms-flex-preferred-size: 15%;
		flex-basis: 15%;
	}
	.count {
		font-size: 2.3em;
	}
	.label {
		font-size: 1em;
	}
	.profile-posts {
		padding: 2.5rem 2rem 1.5rem;
	}
}

.nav-mobile-search {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
}

.nav-mobile-search input {
	border: none;
	margin-left: 0.7rem;
	font-size: 1.3em;
}

.nav-mobile-search img {
	width: 1.5rem;
	margin-left: 0.3rem;
}

.users-container {
	padding: 6rem 1.5rem;
}

.search-message {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: #3a3a3a;
	font-size: 1.2em;
}

.user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	padding: 1.2rem 0;
	border-bottom: 1px solid #e6e6e6;
}

.user a {
	color: black;
	text-decoration: none;
}

.user:first-child {
	padding-top: 0;
}

.user:last-child {
	border: none;
	padding-bottom: 0;
}

.user div {
	width: 100%;
}

.user div div {
	display: flex;
	justify-content: start;
}

.user:first-child {
	margin-top: 0;
}

.user:first-child {
	margin-bottom: 0;
}

.user-name {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 0 0.5rem;
	cursor: pointer;
}

.user-avatar {
	width: 4.2rem;
	height: 4.2rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 1rem;
	cursor: pointer;
}

.friend-action-btn {
	padding: 0.45rem 1rem;
	width: 10rem;
	margin: 0;
	width: 6rem;
	height: 1.95rem;
}

.user div div button {
	width: 6rem;
}

.friend-action-btn p {
	font-size: 0.95em;
}

.user-add-friend {
	background: #0a97b0;
}

.accept-btn {
	background-color: #40c8b7;
}

.action-loading.friend-action-btn img {
	width: 1.3rem;
	margin: 0 auto;
}

.action-loading {
	background: #a7a7a7;
}

.user-add-friend img {
	width: 0.9rem;
	margin-right: 0.2rem;
}

.user-request-pending {
	background: none;
	border: 2px solid #0a97b0;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
	cursor: auto;
}

.user-request-pending p {
	color: #0a97b0;
}

.user-decline-request {
	background: none;
	padding: 0;
	margin-left: -0.2rem;
}

.user-decline-request p {
	color: #848484;
	text-decoration: underline;
}

.user-send-message {
	background: none;
	border: 2px solid #40c8b7;
	cursor: auto;
}

.user-send-message p {
	color: #40c8b7;
}

@media only screen and (min-width: 600px) {
	.nav-mobile-search {
		position: static;
		border-radius: 1.2rem 1.2rem 0 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: 1px solid #d5d5d5;
		padding: 0.8rem 5rem;
	}
	.nav-mobile-search img {
		width: 1.5rem;
	}
	.nav-mobile-search input {
		margin-left: 0.6rem;
	}
	.users-container {
		padding: 2rem 5rem;
	}
	.user {
		width: 100%;
		-webkit-box-pack: stretch;
		-ms-flex-pack: stretch;
		justify-content: stretch;
		margin: 0;
		padding: 1rem 0;
		border-bottom: 1px solid #e6e6e6;
	}

	.user div {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.user div div {
		justify-content: flex-end;
	}
	.accept-btn {
		margin-right: 0.5rem;
		order: 2;
		margin-right: 0;
	}
	.action-loading img {
		width: 1.2rem !important;
	}
	.user-decline-request {
		order: 1;
	}
	.user-avatar {
		width: 3.5rem;
		height: 3.5rem;
		margin-right: 0.7rem;
	}
	.user-name {
		font-size: 1.2em;
	}
	.friend-action-btn p {
		font-size: 0.9em;
		margin-top: 0;
	}
	.friend-action-btn img {
		width: 0.85rem;
	}
}

.chat-box-container {
	position: fixed;
	z-index: 25;
	background: white;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.friend-chat-avatar {
	width: 2.3rem;
	height: 2.3rem;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
}

.nav-mobile-chat span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-mobile-chat span p {
	margin: 0 0.8rem 0.3rem 0;
	font-weight: 600;
	font-size: 1.2em;
}

.chat-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5rem 1rem;
	height: 100%;
	overflow: auto;
}

.chat-container p {
	font-size: 1.15em;
	padding: 0.5rem 1rem;
	margin: 0.3rem auto;
	max-width: 75%;
	width: fit-content;
}

.friend-message {
	text-align: left;
	background: #efefef;
	border-radius: 1.1rem 1.1rem 1.1rem 0;
	margin-left: 0 !important;
}

.my-message {
	text-align: left;
	background: #40c8b7;
	border-radius: 1.1rem 1.1rem 0 1.1rem;
	color: white;
	margin-right: 0 !important;
}

.new-sender {
	margin-top: 1rem !important;
}

.send-message-container {
	border-top: 1px #e6e6e6 solid;
	background: white;
	padding: 0.8rem 1.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.send-message-container input {
	border-radius: 10rem;
	border: 1px #c1c1c1 solid;
	font-size: 1.05em;
	padding: 0.4rem 1.5rem;
	width: 75%;
}

.send-message-container button {
	border: none;
	background: none;
	margin-left: 0.5rem;
}

.send-message-container button img {
	width: 1.8rem;
}

@media only screen and (min-width: 600px) {
	.chat-box-container {
		position: fixed;
		bottom: 0;
		right: 7rem;
		left: auto;
		top: auto;
		background: none;
		z-index: 8;
		background: white;
		border-radius: 1rem 1rem 0 0;
		width: 20rem;
		-webkit-box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0);
		box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0);
	}
	.chat-container {
		position: relative;
		z-index: -1;
		height: 20rem;
		padding: 0.5rem 1rem;
		border-left: 1px solid #dadada;
		border-right: 1px solid #dadada;
	}
	.chat-container p {
		font-size: 0.95em;
	}
	.nav-mobile-chat {
		position: static;
		border-radius: 1rem 1rem 0 0;
		background-color: #40c8b7;
		padding: 0.3rem 1rem;
	}
	.nav-mobile-chat .friend-chat-avatar {
		width: 2rem;
		height: 2rem;
	}
	.nav-mobile-chat .chat-minimize img {
		margin-left: 0.3rem;
		margin-top: 0.4rem;
		width: 1.2rem;
	}
	.nav-mobile-chat span {
		font-size: 0.9em;
		color: white;
		margin-top: 0.4rem;
	}
	.send-message-container {
		position: static;
		border-left: 1px solid #dadada;
		border-right: 1px solid #dadada;
		background: white;
	}
	.send-message-container input {
		font-size: 0.9em;
		padding: 0.35rem 1rem 0.45rem;
	}
	.minimize-chat div {
		display: none;
	}
}

.login-container {
	text-align: center;
}

.login-logo {
	margin-top: 6.7rem;
}

.login-logo p {
	color: #a0a0a0;
	font-size: 0.8em;
}

.login-logo img {
	width: 15rem;
}

.login-inputs-container {
	margin: 6.5rem 0 7.8rem;
}

.login-inputs-container div {
	padding: 0 0.2rem;
	width: 13rem;
	margin: 2rem auto;
	border-bottom: 3px solid #40c8b7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.login-inputs-container div input {
	border: none;
	font-size: 1.1em;
	width: 80%;
	margin-bottom: 0.2rem;
}

.username-input-container img {
	width: 1.3rem;
	margin-left: 0.1rem;
}

.password-input-container img {
	width: 1.6rem;
}

.login-form button {
	background: #f54291;
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.6rem 0;
	font-size: 1.15em;
	font-weight: 600;
	width: 10rem;
}

.login-second-option {
	font-size: 0.9em;
	width: 10rem;
	margin: 1.8rem auto 0;
	cursor: pointer;
	display: block;
	color: #2a2a2a;
}

.login-warning {
	color: #f30000;
	font-size: 1.1em;
	position: absolute;
	left: 0;
	right: 0;
	top: 25rem;
}

.register-warning {
	top: 29rem;
}

@media only screen and (min-width: 600px) {
	.login-container {
		margin: 4.5rem auto 0;
		width: 30rem;
		padding: 3rem 0;
	}
	.login-logo {
		margin-top: 0;
	}
	.login-logo img {
		width: 11rem;
	}
	.login-inputs-container {
		margin-top: 3.2rem;
		margin-bottom: 3.9rem;
	}
	.login-inputs-container div {
		width: 11rem;
	}
	.login-inputs-container div input {
		font-size: 0.9em;
		background: none;
		width: 83%;
	}
	.username-input-container img {
		width: 1rem;
	}
	.password-input-container img {
		width: 1.15rem;
	}
	.login-form button {
		font-size: 0.9em;
		padding: 0.5rem 0;
	}
	.login-second-option {
		margin: 1.5rem auto 1.9rem;
		font-size: 0.85em;
	}
	.login-warning {
		top: 19.5rem;
		font-size: 1em;
	}
	.register-warning {
		top: 23.5rem;
	}
}

@media only screen and (min-width: 600px) {
	.hide-desktop {
		display: none;
	}
	.panels-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 87%;
		margin: 6.7rem auto 2rem;
	}
	.main-container {
		background: white;
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		border-radius: 1.2rem;
		-ms-flex-preferred-size: 64%;
		flex-basis: 64%;
	}
	.friends-container {
		background: white;
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
		border-radius: 1.2rem;
	}
}

@media only screen and (min-width: 1500px) {
	.panels-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 60%;
		margin: 8rem auto 4rem;
	}

	.login-container {
		margin-top: 10rem;
	}
}

.hide {
	display: none !important;
}

.new-post-container {
	position: fixed;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@keyframes Slide_Up {
	0% {
		transform: translateY(25rem);
	}
	100% {
		transform: translateY(0);
	}
}

.new-post {
	margin: auto;
	background: white;
	width: 90%;
	padding: 2.5rem 0;
	text-align: center;
	border-radius: 1.2rem;
	animation: Slide_Up 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.new-post textarea {
	display: block;
	margin: 0 auto 2.8rem;
	resize: none;
	border-radius: 0.5rem;
	border: 1px solid #b1b1b1;
	width: 70%;
	height: 6rem;
	font-size: 1.1em;
	padding: 0.4rem 0.6rem;
	font-family: "Century Gothic", Sans-Serif;
}

.new-post-btn {
	background: #f54291;
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.6rem 0;
	width: 7rem;
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 0.5rem;
}

.cancel-post-btn {
	background: none;
	border: none;
	color: #a0a0a0;
	padding: 0.6rem 0;
	width: 7rem;
	font-size: 1.1em;
	font-weight: 600;
	display: block;
	margin: 1rem auto 0;
}

.new-post h1 {
	margin: 0 auto 2.5rem;
	font-size: 1.7em;
}

.file-not-chosen {
	background: #d1d1d1;
}

@media only screen and (min-width: 600px) {
	.new-post {
		width: 25rem;
		margin-top: 7rem;
	}

	.new-post-btn,
	.cancel-post-btn {
		font-size: 0.95em;
	}
}

.avatar-input {
	font-size: 1.5em;
	background: none;
	visibility: hidden;
	position: absolute;
}

.upload-avatar p {
	font-size: 1.3em;
	display: block;
	margin-bottom: 0.5rem;
	color: #757575;
	text-decoration: none;
	font-weight: 500;
}

.choose-img-btn {
	margin-bottom: 3rem;
	display: block;
	text-decoration: underline;
	cursor: pointer;
}

.login-loading {
	background-color: #d1d1d1 !important;
	cursor: auto;
}

.liked {
	animation: like 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

@keyframes like {
	0% {
		transform: scale(0.1);
	}
	100% {
		transform: scale(1);
	}
}

.feed-label {
	padding: 0 12.5% 2rem;
	margin: -1rem auto 1rem;
	border-bottom: 1px solid #d5d5d5;
}

.no-friends {
	margin-top: 45%;
	text-align: center;
	font-size: 1.1em;
}

.no-friends p {
	color: #848484;
}

.no-friends a {
	color: #0a97b0;
}

/*# sourceMappingURL=styles.css.map */
